
body {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.iphone-x {
  position: relative;
  z-index: 1;
  height: 694px;
  width: 342px;
  
}
.iphone-x *, .iphone-x *::before, .iphone-x *::after {
  box-sizing: border-box;
  display: block;
}
.iphone-x .side {
  background: #1c1c1c;
  border-radius: 54px;
  box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9, 0px -1px 13px 9px rgba(255,255,255,0.8) inset;
  height: 694px;
  padding: 15px 22px;
  width: 342px;
  z-index: 1;
}
.iphone-x .screen {
  background:#000;
  background-position: center center;
  background-size: cover;
  border-radius: 33px;
  position: relative;
  height: 652px;
  width: 300px;
  margin-left: -1px;
  margin-top: 6px;
  z-index:198;
  overflow:hidden;
  background-color: white;
}
.iphone-x .line::after, .iphone-x .line::before {
  content: "";
  position: absolute;
  border: solid rgba(68, 68, 68, 0.25);
  border-width: 0 6px;
  height: 5px;
  left: 0;
  width: 100%;
  z-index: 9;
}
.iphone-x .line::after {
  top: 68px;
}
.iphone-x .line::before {
  bottom: 68px;
}
.iphone-x .header {
  background: #1c1c1c;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 24px;
  left: 50%;
  margin-left: -82px;
  position: absolute;
  top: 15px;
  width: 164px;
  z-index: 199;
}
.iphone-x .sensor-1::after, .iphone-x .sensor-1::before {
  content: "";
  position: absolute;
}
.iphone-x .sensor-1::after {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 1%;
  margin-left: 10px;
  top: 3px;
}
.iphone-x .sensor-1::before {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 10%;
  margin-left: 20px;
  top: 3px;
}
.iphone-x .sensor-2::after, .iphone-x .sensor-2::before {
  content: "";
  position: absolute;
}
.iphone-x .sensor-2::before {
  background: #333;
  border-radius: 2.5px;
  height: 5px;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  top: 7px;
}
.iphone-x .sensor-3::after, .iphone-x .sensor-3::before {
  content: "";
  position: absolute;
}
.iphone-x .sensor-3::before {
  background: #444;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 50%;
  margin-left: 35px;
  top: 3px;
  box-shadow:0px 0px 5px 2px navy inset
}
.iphone-x .sensor-3::after {
  background: #222;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  left: 65%;
  margin-left: 33px;
}
.iphone-x .volume-button {
  background: #c8cacb;
  height: 26px;
  left: -2px;
  position: absolute;
  top: 92px;
  width: 3px;
}
.iphone-x .volume-button::after, .iphone-x .volume-button::before {
  content: "";
  position: absolute;
  background: #c8cacb;
  height: 50px;
  left: 0;
  width: 3px;
}
.iphone-x .volume-button::after {
  top: 48px;
}
.iphone-x .volume-button::before {
  top: 112px;
}
.iphone-x .power-button {
  background: #c8cacb;
  height: 80px;
  right: -2px;
  position: absolute;
  top: 160px;
  width: 3px;
}

.display-screen{
  margin: 10px;
  margin-top: 15px;
}
.display {
  display: flex; /* Use flex display */
  justify-content: flex-end; /* Align children to the end (right in this case) */
  align-items: flex-end; /* Align children to the end (bottom in this case) */
  width:280px ;
  height: 200px; /* Set the height of the container (adjust as needed) */
  font-weight: bold;
  font-size: 48px;
  font-family: 'Chakra Petch', sans-serif;
}


button {
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 18px ;
  background-color: #A9B6CF;
  box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
}

.operator {
  display: grid;
  row-gap: 17px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}
.digit-line {
  margin: 0px 8px;
  display: grid;
  column-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.digit-line-zero {
  margin: 0px 8px;
  display: grid;
  column-gap: 12px;
  grid-template-columns: 2fr 1fr 1fr ;
}

.digit-zero {
  width: 130px;
  margin-right: 5px;
}

.button-operator {
  background-color: #4989AD;
}

.button-operator:active {
  background-color: #62B3E0;
}

button:active {
  background-color: #C9D8F5;
}

.display-operator {
  font-size: 24px;
  color: #594E4E;
}

.display-number {
  text-align: end;
}

.message {
  background-color: #fff;
  border: none;
  border-radius: 10px ;
  box-shadow: 3px 4px 40px 0px rgba(0, 0, 0, 0.25);
  width: 164px;
  padding: 10px;
  color: #000;
  font-size: 14px;
  top: -100px;
  animation: taadaa 5s ;
  margin-top: 20px;

}

.noti {
  display: grid;
  grid-template-columns:0.6fr  1fr 0.6fr;
  height: 40px;
}

.icon {
  float: left;
  width: 18px;
  margin-right: 10px;
}

@keyframes taadaa { 

  /* opacity */
  0% {
    transform: translateY(-100px) ;
    opacity: 0;
  }

  30% {
    transform: translateY(0px);
    opacity: 1;
  }

  70% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }

  /* my style */
  /* 0% {
    transform: translateY(-100px) ;
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100px);
  } */
}
